/* 全局样式 */
html,
body {
  background-color: #f3f3d1;
  font-family: Georgia, serif;
  /* 全局正文字体 */
  margin: 0;
  padding: 0;
}

.header,
.footer {
  /* background-color: #f8f9fa; */
  padding: 1rem;
  text-align: center;
}

.header a {
  text-decoration: none;
  /* color: #007bff; */
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  flex-direction: row;
}

/* 大屏幕时双栏布局 */
@media (min-width: 992px) {
  /*水平居中*/
  .post-container {
    width: 80%;
    margin: 0 auto;
  }

  .content {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .sidebar {
    flex: 0 0 20%;
    max-width: 20%;
    display: block;
  }
}

/* 小屏幕时单栏布局 */
@media (max-width: 749px) {


  .content {
    width: 100%;
    order: 1;
  }

  .sidebar {
    width: 100%;
    display: block;
    order: 2;
    /* 使得 sidebar 在小屏幕时在主体内容之后 */
  }

  footer {
    order: 3;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

/* .content { */
/* padding: 1em;  */
/* margin: 0 auto; */
/* } */

.row>* {
  padding: 0;
}

h2.short-title {
  font-size: 1.2em;
  /* color: #20B2AA; */
}

.post {
  margin-bottom: 2em;
}

.post h2,
.post h1 {
  margin-top: 0;
  /* font-family: "Trebuchet MS", Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif; */
  /* 标题字体 */
}

.post-meta {
  font-size: 1.1em;
  color: #666;
}


/* 针对 Retina 屏幕优化 */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
  .logo {
    background-image: url('logo@2x.png');
    background-size: 100% 100%;
  }
}


.custom-link {
  text-decoration: none;
  color: #FFC125;
}

.iconfont {
  font-size: 1.2em;
}

.wl-panel {
  margin: 5px 0 0 0;
}

.wl-power {
  display: none !important;
}